@using NRLApp.Models
@{
    ViewData["Title"] = "Registrer hinder";
}
<div class="screen">
    <h2>REGISTRER HINDER</h2>
    <form asp-action="Type" method="post">
        @Html.AntiForgeryToken()
        <div class="grid-tiles">
            <button class="tile" name="type" value="@ObstacleType.Building">BYGNING</button>
            <button class="tile" name="type" value="@ObstacleType.Mast">MAST / ANTENNER</button>
            <button class="tile" name="type" value="@ObstacleType.WindTurbine">VINDTURBIN</button>
            <button class="tile" name="type" value="@ObstacleType.PowerLine">KRAFTLINJE</button>
            <button class="tile" name="type" value="@ObstacleType.Crane">KRAN</button>
            <button class="tile" name="type" value="@ObstacleType.Other">ANNET</button>
        </div>
        <button type="submit" class="btn-next">GÅ VIDERE</button>
    </form>
</div>
